@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.items{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.error{
  color: red;
  display: none;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#name,#surname,#age{
  width: 400px;
  padding: 10px 0;
  border-radius: 10px; margin: 10px 0;
}
.btn {
  background-color: rgb(231, 53, 53);
  color: white;

  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 100px;
  margin: 0 auto;
}

.list_item {
  margin: 0 auto;
padding: 5px;
border-radius: 10px;
  gap: 20px;
  margin-top: 20px;
  background-color: aqua;
  width: 500px;
  margin-top: 10px;
}

